# Ignore Maven target directory
target/
!target/.gitkeep

# Ignore IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.vscode

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled class files
*.class

# Ignore logs and temp files
*.log
*.tmp

# Ignore dependency directories
**/node_modules/
**/.gradle/
**/.mvn/

# Ignore JAR/WAR files
*.jar
*.war
*.ear

# Ignore user-specific config files
*.env
